.main-right {
    width: 72%;
    background-color: rgb(83, 152, 212, 0.5);
    height: 88%;
}

.send-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #152238;
    width: 57%;
    padding: 7px;
    border-radius: 7px;
    position: absolute;
    top: 90%;
    left: 42.5%;
}

.bot-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 75%;
    padding: 7px;
    border-radius: 7px;
    position: absolute;
    top: 85%;
    left: 22%;
}

.icons {
    color: white;
    cursor: pointer;
}

.date {
    background-color: rgb(15, 92, 168);
    margin: 0 auto;
    margin-top: 40vh;
    text-align: center;
    width: 15%;
    color: white;
    border-radius: 10px;
    padding: 7px;
}

.message-container {
    height: 65vh;
    overflow-y: auto;
    width: 95%;
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    .main-right {
        display: none;
    }
    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 128, 128, 0.33);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: teal;
    border-radius: 10px;
}