.left-message-container {
    background-color: #152238;
    align-self: flex-start;
    color: white;
}

.left-message-container, .right-message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    padding: 7px;
    border-radius: 10px;
    font-weight: 600;
    width: max-content;
}

.right-message-container {
    background-color: #0C3B41;
    align-self: flex-end;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin:  0 auto;
}

.favorite {
    color: red;
}

.message-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5vh;
    font-size: 11px;
    color: lightgray;
}